.activity-details-container {
  display: flex;
  width: 420px;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.activity-details-header {
  margin-bottom: 20px;
}

.details-scrollable {
  max-height: 550px; 
  overflow-y: auto; 
  width: 100%; 
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc; 
  background-color: #f9f9f9; 
}

.activity-info {
  margin-bottom: 20px;
}

.notes-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.note {
  background-color: #fff; 
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.back-button {
  margin-top: 20px;
  padding: 10px 37px !important;
  background-color: #0a274e;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 22px !important;
}

.back-button:hover {
  background-color: #0a274e;
}
