.profile-page {
  background-color: #ffffff;
  min-height: calc(90vh - 50px);
  height: 100vh;
  width: 420px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; 
  padding: 20px;
}

.profile-title {
  font-size: 26px;
  font-weight: bold;
  margin: 20px 0;
  margin-top: 20px !important;
}

.profile-image-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.profile-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ffffff;
}

.profile-details {
  margin: 20px 0;
  font-size: 20px !important; 
  line-height: 1.5; 
  text-align: left; 
  width: 100%; 
  max-width: 400px; 
}

.profile-details p {
  margin: 15px 0;
  font-size: 20px !important;
  margin-left: 18px;
}

.update-button {
  display: block;
  margin: 20px auto;
  margin-top: 5px;
  padding: 10px 45px;
  font-size: 17px; 
  font-weight: bold;
  color: #ffffff;
  background-color: #011C3A;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.update-button:hover {
  background-color: #011C3A; 
}

.profile-nav {
  position: fixed; /* Use fixed instead of absolute for better placement */
    bottom: -10px; /* Ensure it sticks to the bottom */
    left: 50%; /* Center align */
    transform: translateX(-50%); /* Adjust for centering */
    width: 418px; /* Restrict max width for your page layout */
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    border-top: 1px solid #9e9999;
    padding: 10px 0;
    z-index: 1000;
    box-sizing: border-box; 
}

.nav-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.nav-icon span {
  font-size: 12px;
  color: #555;
}
