.activity-details-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 0 20px; 
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  font-family: 'Arial', sans-serif;
}

.activity-details-header {
  text-align: center;
  color: #333;
  margin-bottom: 10px;
}

.activity-details-container .scrollable-content {
  max-height: 500px; 
  overflow-y: auto; 
  padding-bottom: 45px; 
  border: 1px solid #ccc;
  padding: 10px;   
}

.activity-details-container p {
  margin: 10px 0;
  font-size: 16px;
  color: #555;
}

.activity-details-container strong {
  color: #000;
}

.back-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #011C3A;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.back-button:hover {
  background-color: #01325A;
}
