.inquiry-detail-page {
  padding: 25px;
  max-width: 600px;
  min-height: 706px; 
  margin: 0 auto;
  background: #ffffff; 
  border-radius: 0px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: left;
  display: flex; 
  flex-direction: column;
  justify-content: space-between; 
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.inquiry-form {
  display: flex;
  margin-top: -180px;
  flex-direction: column;
  gap: 15px;
  flex-grow: 1; 
  justify-content: center; 
}

.form-group {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
}

input, select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff; 
}

input:focus, select:focus {
  border-color: #011C3A;
  outline: none;
}

.submit-btn {
  padding: 10px 25px; 
  background-color: #011C3A;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 200px;
  font-size: 18px;
  font-weight: bold; 
  text-align: center;
  margin-top: 20px;
  margin-left: 90px;
}

.submit-btn:hover {
  background-color: #011C3A;
}
