body {
    margin: 0;
    height: 60vh;
    background-color: #011C3A !important; 
    font-family: Arial, sans-serif;
  }

.logo {
    display: block;
    margin: 150px auto;
    width: 300px;
    height: auto;
    margin-top: 250px;
    margin-left: 60px;
}


  

  
  
  