.verify-page {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 93.2vh; 
    margin: 0vh;
    background-color: #ffffff; 
  }
  
  .verify-page h1 {
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    position: absolute;
    margin-top: -640px; 
    margin-left: -150px; 
  }
  .verify-image {
    width: 330px; 
    height: auto; 
    position: absolute;
    top: 110px; 
    left: 38px;
  }
  .sms-info {
    font-size: 0.95rem; 
    color: #000000; 
    text-align: flex;
    position: absolute; 
    margin-top: 260px;
    margin-left: 15px;  
  }
  
.code-input-container {
    display: flex;
    justify-content: center; 
    margin-top: 400px; 
    gap: 10px; 
  }
  
  .code-input {
    width: 50px; 
    height: 50px; 
    font-size: 1.5rem; 
    text-align: center; 
    border: 2px solid #333; 
    border-radius: 5px; 
    outline: none; 
    box-shadow: 0 2px 4px #E4AF3F(0, 0, 0, 0.1); 
  }
 
  .code-input:focus {
    border-color: #E4AF3F; 
    box-shadow: 0 0 8px #E4AF3F(252, 188, 13, 0.5); 
  }
  .verify-button {
    background-color: #011C3A; 
    color: #ffffff;
    font-weight: bold;
    position: absolute; 
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 19px;
    cursor: pointer;
    margin-top: 550px;
    margin-left: 15px;
  }
  
  .verify-button:hover {
    background-color: #011C3A; 
  }