body {
    margin: 0;
    height: 80vh;
    background-color: #FCBC0D; 
    font-family: Arial, sans-serif;
  }

.logo {
    display: block;
    margin: 150px auto;
    width: 450px;
    height: auto;
}

.page-container {
    height: 89vh;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    padding: 3rem 1.5rem;
    flex-direction: column; 
  }
  
  .text-small {
    font-size: 1.5rem; 
    margin: 0 0 1rem;
    padding-left: 38rem; 
  }
  
  .text-large {
    font-size: 2rem; 
    margin: 0;
    padding-left: 38rem; 
  }
  .image-style {
    width: 500px; 
    height: auto; 
    margin-top: 2rem;
    padding-left: 40rem; 
  }
  
  .taxi-text {
    font-size: 1.5rem; 
    font-weight: bold; 
    margin-top: 1rem;
    padding-left: 43rem;  
  }
  .second-text {
    font-size: 1.5rem; 
    font-weight: bold; 
    margin-top: -1rem;
    padding-left: 44rem;  
  }
  .third-text {
    font-size: 1.5rem; 
    font-weight: bold; 
    margin-top: -1rem;
    padding-left: 51rem;  
  }
  .get-start-btn {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.8rem 2rem; 
    background-color: #FCBC0D; 
    color: black; 
    border: none;
    border-radius: 25px;
    margin-top: 2rem;
    cursor: pointer; 
    transition: background-color 0.3s ease; 
  
    align-self: center; 
    margin-left: 802px;
    margin-right: auto; 
}
  
.number-page {
    background-color: #FFF7D1; 
    height: 96vh; 
    padding: 20px;
  }

  .number-page h1 {
    font-size: 1.8rem;  
    font-weight: bold;
    margin-left: 670px;
    margin-top: 2rem; 
  }
  .verification-text {
    font-size: 1.2rem;
    font-weight: normal;
    margin-top: 25px;
    margin-left: 680px; 
  }
  .input-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; 
  }
  
  .flag-style {
    width: 42px;
    height: 40px;
    margin-top: 11px;
    margin-left: 80px;
  }
  
  .phone-input {
    padding: 10px;
    font-size: 1.2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    margin-left: 20px;
    margin-top: 12px;
  }
  
.next-btn {
    font-size: 1.3rem; 
    font-weight: bold; 
    padding: 1rem 2.5rem; 
    background-color: #FCBC0D; 
    color: black; 
    border: none; 
    border-radius: 25px; 
    margin: 20px auto; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
    display: block; 
    margin-top: 30px;
    margin-left: 850px;
  }
  
  .next-btn:hover {
    background-color: #FCBC0D;
  }
  .verify-page {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    background-color: #ffffff; 
  }
  
  .verify-page h1 {
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    position: absolute;
    margin-top: -700px; 
    margin-left: -150px; 
  }
  .verify-image {
    width: 400px; 
    height: auto; 
    position: absolute;
    top: 120px; 
    left: 700px;
  }
  .sms-info {
    font-size: 1rem; 
    color: #000000; 
    text-align: flex;
    position: absolute; 
    margin-top: 260px;
    margin-left: 15px;  
  }
  
.code-input-container {
    display: flex;
    justify-content: center; 
    margin-top: 400px; 
    gap: 10px; 
  }
  
  .code-input {
    width: 50px; 
    height: 50px; 
    font-size: 1.5rem; 
    text-align: center; 
    border: 2px solid #333; 
    border-radius: 5px; 
    outline: none; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  }
 
  .code-input:focus {
    border-color: #FCBC0D; 
    box-shadow: 0 0 8px rgba(252, 188, 13, 0.5); 
  }
  .verify-button {
    background-color: #FCBC0D; 
    color: black;
    font-weight: bold;
    position: absolute; 
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    cursor: pointer;
    margin-top: 550px;
    margin-left: 15px;
  }
  
  .verify-button:hover {
    background-color: #FCBC0D; 
  }
  .name-page {
    background-color: #ffffff;
    padding: 20px;
    height: 96vh;
  }
  .right-text {
    font-size: 29px;
    margin-left: 760px;
    color: #000000;
  }
  
  
  